@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

/* Common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
}

.section-heading {
    font-size: 6rem;
    font-weight: 900;
    color: #3F1D38;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.3rem;
    text-shadow: 0.2rem 0.2rem 0.2rem black;
}

/* End of common styles */

/* Navbar */
.navbar {
    width: 100%;
    height: 14rem;
    background-image: linear-gradient(#f9fdd2, #FFC7EA);
    position: fixed;
    top: -14rem;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.2rem 0.2rem 0.2rem blanchedalmond;
    transition: top 0.4s;
}

.navbar.change {
    top: 0;
    transition: top 0.4s 0.2s;
}

.navbar-link {
    color: #350514;
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: color 0.3s, opacity .2s;
}

.change .navbar-link {
    opacity: 1;
}

.change .navbar-link:nth-child(1) {
    transition: opacity 0.4s 0.5s, color 0.3s;
}

.change .navbar-link:nth-child(2) {
    transition: opacity 0.4s 0.6s, color 0.3s;
}

.change .navbar-link:nth-child(3) {
    transition: opacity 0.4s 0.7s, color 0.3s;
}

.change .navbar-link:nth-child(4) {
    transition: opacity 0.4s 0.8s, color 0.3s;
}

.change .navbar-link:nth-child(5) {
    transition: opacity 0.4s 0.9s, color 0.3s;
}

.navbar-link:hover {
    color: #a80707;
}

.navbar-link i {
    font-size: 7rem;
}

.navbar-link span {
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: .5rem;
    margin-top: 0.5rem;
}

.me {
    width: 4rem;
    height: 6rem;
    background-color: #590303;
    position: fixed;
    top: 1rem;
    left: 5rem;
    border-radius: 30rem 30rem 15rem 15rem;
    box-shadow: .1rem .1rem .1rem black, -.1rem -.1rem -.1rem black;
    cursor: pointer;
	z-index: 100;
    transition: top 0.4s 0.2s;
}

.me.change {
    top: 15rem;
    transition: 0.4s;
}

.me::before {
    content: "";
    width: .3rem;
    height: 15rem;
    background-color: #350514;
    position: absolute;
    top: -15rem;
    left: calc(50% - 0.15rem);
    box-shadow: 0.1rem 0 0.1rem black;
}

/* End of Navbar */

/* Section 1 */
.section-1 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #F6FFA6, #FFC7EA, #D8B4F8, #D5FFE4, #CAEDFF, #FE7BE5, #F6FFA6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* Initial styling to hide images */
.section-1-icons img {
    width: 20rem;
    position: absolute;
    text-shadow: 2px 2px 2px black;
    transform: translate(-50%, -50%) scale(0);
}

/* Add this class to reveal images in the slideshow */
.section-1-icons img.change {
    transform: translate(-50%, -50%) scale(1);
}

/* End of section 1 */

/* Section 2 */
.section-2 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #f6fad3, #fcd4ec, #e4cef8, #e6feee, #dbf1fc, #fcb7ef, #f8fec1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10rem 0;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: 30rem;
    background-color: #f6fad3;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1rem 1rem 1rem black;
    position: relative;
    transform: rotateY(20deg) skewX(-2deg);
    transition: transform 0.5s, box-shadow 0.5s;
    margin: 1rem;
}

.card:hover {
    transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
    box-shadow: 2rem 2rem 2rem black;
}

.card::before {
    content: "";
    height: 100%;
    width: 1rem;
    background-color: #edfb6f;
    position: absolute;
    top: 0;
    left: -1rem;
    transform: skewY(45deg);
    transform-origin: right;
    box-shadow: -0.1rem -0.1rem 0.1rem rgb(162, 167, 8);
}

.card::after {
    content: "";
    height: 1rem;
    width: 100%;
    background-color: #f5fcb6;
    position: absolute;
    top: -1rem;
    left: 0;
    transform: skewX(45deg);
    transform-origin: bottom;
    box-shadow: -0.1rem -0.1rem 0.1rem rgb(48, 50, 2);
}

.card-img {
    width: 100%;
}

.card-name {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: #3F1D38;
    margin: 2rem 0;
    text-shadow: .15rem .15rem .15rem black;
}

.card-btn {
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 4px;
    position: relative;
    background-color: #3f0739;
    border: none;
    color: #fff;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 15px #193047;
    border-radius: 4px;
}

.card-btn:hover {
    background: #f7d5f4;
    box-shadow: 0px 2px 10px 5px #fdabe0;
    color: #640848;
}

.card-btn:after {
    content: "";
    background: #e779e5;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

.card-btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.card-btn:focus {
    outline: 0;
}





/*End of section 2*/
/* section 3*/


/*End of section 3*/
/* section 4*/

 .section-4{
	width: 100%;
	height: 30vh;
	background-image: linear-gradient(#f9fdd2,#FFC7EA);
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	padding: 3rem 0;
	position: relative;
 }

 .section-4-text{
	text-transform: uppercase;
 }

 .section-4-heading{
	font-size: 4rem;
	font-weight: 900;
	color: #162633;

 }

 .section-4-paragraph{
	font-size: 1.5rem;
	color: #252d31;
 }

 .signup-form{
	display: flex;
	align-items: center;

 }

 .signup-form-input{
	width: 35rem;
	height:5rem;
	padding: 1rem;
	border: .2rem solid #18a367;
	font-size: 1.6rem;
	font-weight: 700;
	letter-spacing: .1rem;
	color: #193047;
 }
.signup-form-input::placeholder{
	color: #162633;
}
.signup-form-btn{
	position: relative;
	left: -4.5rem;
	height: 4rem;
	width: 4rem;
	background-color: #2e5d5a;
	color: wheat;
    border: none;
	font-size: 1.8rem;
	cursor:pointer;
}

 .copyright{
	position:absolute;
	bottom: 3rem;
	font-size: 1.7rem;
	font-weight: 200;
	color: #252d31;
	letter-spacing: 0.1rem;
	border-top: .1rem solid #18a367;
	padding-top:4rem;
	width: 100%;
	text-align: center;
	
 }
  

/*End of section 4*/


/*Responsive*/

@media(max-width:1400px) {
	html{
		font-size: 50%;
	}

	.section-2{
		height: auto;
		padding: 10rem 0 12rem 0;

	}

	.cards-container{
		margin-top: 10rem;
	}
}

@media(max-width:1000px) {
	.section-heading{
		font-size: 9rem;
		margin: 0 5rem;
	}

	.section-1-icons img{
		width: 15rem ;
	}

	.cards-container{
		flex-wrap: wrap;
	}
	.card{
		margin:5rem;
	}
	.section-4{
		height: 30rem;
	}
}

@media(max-width:900px){
	.navbar-link{
		margin: 2rem;
	}

	.navbar-link i {
		font-size: 4rem;
	}

	.navbar-link span{
		font-size: 2rem;
	}
}

@media(max-width:700px){
	.section-heading{
		font-size: 7rem;
		margin: 0 10rem;
	}
	.section-1-icons img {
		font-size: 20rem;
	}
	.me{
		left:2rem;
	}
	.cards-container{
		flex-wrap: wrap;
	}

	.section-4{
		height: 40rem;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.section-4-text{
		margin-bottom: 8rem;
	}
}

@media(max-width:550px){
	html{
		font-size: 40%;
	}

	.navbar-link{
		margin: 0 0.7rem;
	}
}